table tr,
td {
    border: 1px solid grey;
    border-radius: 5px;
    border-collapse: collapse;
    width: 40px;
    height: 40px;
}
td {
    background: #e0e0e0;
    will-change: #5b87ff;
}
.fill {
    background: #5b87ff;
}
